# Archivos de sistema operativo
.DS_Store  # macOS
Thumbs.db  # Windows

# Archivos de compilación
*.o
*.a
*.so
*.dll
*.exe
*.out
*.log

# Directorios de compilación (dependiendo de tu entorno de desarrollo)
build/
obj/

# Archivos de editores de texto (Visual Studio, Vim, Emacs, etc.)
.vscode/
.idea/
*.swp  # Archivos temporales de Vim
*~  # Archivos temporales de editores de texto (por ejemplo, vi, emacs)

# Archivos de dependencias (npm, pip, etc.)
node_modules/
*.egg-info
.vscode/

# Archivos de caché
*.log
*.bak
*.tmp

# Archivos de contenedores (Docker, por ejemplo)
.dockerignore

# Archivos de configuración de Git
*.gitmodules